{% extends 'base.html' %}

{% block title %}
Добавление записи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1> Добавление записи </h1>
    <form method="post" enctype="multipart/form-data">
        <input type="text" id="title" name="title" class="form-control" required placeholder="Введите название задачи" maxlength="100"><br>
        <textarea id="text" name="text" class="form-control" placeholder="Введите текст (необязательно)"></textarea><br>

        <div class="dates">
            <input type="datetime-local" id="firstDate" required name="firstDate"/>
            <label> - Дата начала </label><br>
            <input type="datetime-local" id="secondDate" required name="secondDate" />
            <label> - Дата окончания </label>
        </div><br>

        <input type="file" id="file" name="file"/>
        <input type="submit" name="action" value="Сохранить файл">
        <br><br>

        <p>
            {% if file_array %}
                Список файлов: <br>
            {% else %}
                Список файлов пуст <br>
            {% endif %}

               {% for file_name in file_array %}
                   • {{ file_name }} <a href="/task/edit/{{ task.id }}/file/delete/{{ file_name }}"> - Удалить</a> <br>
               {% endfor %}

        </p>

        <input type="submit" name="action" class="btn btn-success" value="Создать">
        <a class="btn btn-success" href="/">Отмена</a>
    </form>
</div>
{% endblock %}