{% extends 'base.html' %}

{% block title %}Добавление задачи{% endblock %}

{%block header%}
    <a href="/" class="header__back">Назад</a>
{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data">
    <div class="task">
        <div class="task__header">
            <p class="task__title"> Добавление задачи</p>
        </div>
        <div class="task__main">
            <label for="title" class="task__label">Название задачи</label>
            <input class="task__input" maxlength="100" id="title" name="title" type="text">

            <label for="text" class="task__label">Текст (необязательно)</label>
            <textarea name="text" id="text" class="task__textarea"></textarea>

            <div id="task__dates">
                <label for="startDate" class="task__label">Дата начала</label>
                <input class="task__input" id="startDate" max="2038-01-19T22:23:59" min="2000-01-01T00:00:00" name="firstDate" type="datetime-local"/>

                <label for="endDate" class="task__label">Дата окончания</label>
                <input class="task__input" id="endDate" max="2038-01-19T22:23:59" min="2000-01-01T00:00:00" name="secondDate" type="datetime-local"/>
            </div>
        </div>
        <div class="task__footer">
            <input id="btn1" type="submit" class="task__create" value="Создать">
        </div>
    </div>
</form>
{% endblock %}