<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3">
                <h3  class="my-0 mr-md-auto text-white">ToDoList</h3>

                {% block header %} {% endblock %}
        </header>
        {% block body %}{% endblock %}
    </body>
</html>