{% extends 'base.html' %}

{% block title %}
Редактирование записи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1> Редактирование записи </h1>
    <form method="post" enctype="multipart/form-data">
        <input type="text" id="title" name="title" class="form-control" value="{{ task.title }}"
               required placeholder="Введите название задачи" maxlength="100"><br>
        <textarea id="text" name="text" class="form-control" placeholder="Введите текст (необязательно)">{{ task.text }}</textarea><br>

        <div class="dates">
            <input type="datetime-local" id="firstDate" value="{{ task.first_date }}" required name="firstDate"/>
            <label> - Дата начала </label><br>
            <input type="datetime-local" id="secondDate" value="{{ task.second_date }}" required name="secondDate"/>
            <label> - Дата окончания </label>
        </div><br>

        <input id="file" name="file" type="file"/>
        <input type="submit" name="action" value="Сохранить файл"><br><br>
        <p>
            {% if file_array %}
                Список файлов: <br>
            {% else %}
                Список файлов пуст <br>
            {% endif %}

               {% for file_name in file_array %}
                   • {{ file_name }} <a href="/task/edit/{{ task.id }}/file/delete/{{ file_name }}"> - Удалить</a> <br>
               {% endfor %}

        </p>

        <input type="submit" class="btn btn-success" name="action" value="Изменить">
        <a href="/task/delete/{{ task.id }}" class="btn btn-success">Удалить</a>
        <a href="/task/{{ task.id }}" class="btn btn-success">Отмена</a>
    </form>
</div>
{% endblock %}